@import 'reset';

$footer-height: 60px;

.main {
  width: 100%;
  background:green; 
  min-height: 100%; 
  min-height: -moz-calc(100% - $footer-height); 
  min-height: -webkit-calc(100% - $footer-height); 
  min-height: -o-calc(100% - $footer-height); 
  min-height: calc(100% - $footer-height);
}
.footer {
  width: 100%; 
  height: $footer-height;
  background:red;
}

