@()(implicit lang: spray.http.Language)
@import com.github.kardapoltsev.webgallery.i18n.Messages

<script type="text/template" id="stats-tpl">
    <div class="row text-center">
        @Messages("countUsers") <%- users %>
    </div>

    <div class="row text-center">
        @Messages("countComments")  <%- comments %>
    </div>

    <div class="row text-center">
        @Messages("countImages")  <%- images %>
    </div>

    <div class="row text-center">
        @Messages("countLikes") <%- likes %>
    </div>
</script>
