@()(implicit lang: spray.http.Language)
@import com.github.kardapoltsev.webgallery.i18n.Messages

<script type="text/template" id="tag-preview-tpl">
<div class="img-preview-div">
  <a href="/images?tagId=<%- id %>">
    <img class="img-preview img-thumbnail" src="/api/images/<%- coverId %>/file?width=128&height=128&scaleType=FillDest">
  </a>
</div>

<h4 class="text-center"><%- name %></h4>

<div class="btn-group btn-group-justified">
  <a class="btn btn-default" href="/users/<%- ownerId %>/tags/<%- id %>">@Messages("details")</a>
</div>
</script>
